.container {
    background-color: white;
    width: 1280px;
    display: block;
    margin:0px auto;
}

.main-menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.menu-item {
    padding: 30px 58px;
    display: inline-block;
    text-transform: uppercase;
    color: #16A085;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #16A085;
    color: white;
}

.background-image {
    margin: 0px auto;
    display: block;
}

.page-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #373737;
    text-align: center;
    margin: 47px auto 60px;
    text-transform: uppercase;
}

.description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    text-align: center;
    margin: 30px auto;
    width: 1145px;
}

.get-started-button {
    border: 1px solid white;
    border-radius: 4px;
    background-color: #16a085;
    display: block;
    margin: 50px auto;
}

.get-started-button:hover {
    border: 1px solid grey;
}

.button-link {
    display: block;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding: 16px 46px;
    text-transform: uppercase;
    text-decoration: none;
}

.copyrights {
    text-align: right;
    margin: 70px 90px 70px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    text-transform: capitalize;
}